{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_bug_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_bug_list'|trans }}</h1>
    <button type="button" class="btn btn-primary">
        <a class="text-light" href="{{ url('bug_create') }}" title="{{ 'action_create'|trans }}">
            {{ 'action_create'|trans }} </a>
    </button>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'bug.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'bug.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'bug.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'bug.title') }}</th>
                <th>{{ 'label_category'|trans }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for bug in pagination.items %}
                <tr>
                    <td>{{ bug.id }}</td>
                    <td>{{ bug.createdAt|format_date('long') }}</td>
                    <td>{{ bug.createdAt|format_date('long') }}</td>
                    <td>{{ bug.title }}</td>
                    <td>{{ bug.category.title }}</td>
                    <td>
                        <a href="{{ url('bug_show', {bugId: bug.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
{% endblock %}